.ballwar-game-menu{
	width: 100%;
	height: 100%;
	background-image: url('/static/img/menu/background.jpg');
	background-size: 100% 100%;
	user-select: none;
}

.ballwar-game-menu-field{
	width: 20vw;
	position: relative;
	top: 27vh;
	left: 14vw;
}

@font-face{
	font-family: 'ZKTSongXXSJW';
	src:  url('/static/fonts/menu/ZKTSongXXSJW.TTF');
}

.ballwar-game-menu-field-item{
	color: white;
	height: 7vh;
	width: 18vw;
	font-family: 'ZKTSongXXSJW';
	font-size: 6vh;
	letter-spacing: 0.6vw;
	padding: 2vh;
	text-align: center;
	background-color: rgba(39, 21, 28, 0.6);
	border-radius: 18px;
	cursor: pointer;
}

.ballwar-game-menu-field-item:hover{
	transform: scale(1.08);
	transition: 120ms;
}

.ballwar-game-menu-img-genshin{
	position: absolute;
	height: 8vh;
	width: 9vh;
	left: 82%;
}

.ballwar-game-menu-img-genshin-single{
	top: 10%;
}

.ballwar-game-menu-img-genshin-multi{
	top: 45%;
}

.ballwar-game-menu-img-genshin-settings{
	top: 79%;
}

.ballwar-game-menu-field-item-single-mode:hover+.ballwar-game-menu-img-genshin-single{
	transform: scale(1.1);
	transition: 120ms;
}

.ballwar-game-menu-field-item-multi-mode:hover+.ballwar-game-menu-img-genshin-multi{
	transform: scale(1.1);
	transition: 120ms;
}

.ballwar-game-menu-field-item-settings:hover+.ballwar-game-menu-img-genshin-settings{
	transform: scale(1.1);
	transition: 120ms;
}

.ballwar-game-playground{
	width: 100%;
	height: 100%;
	user-select: none;
}

.ballwar-game-settings{
	width: 100%;
	height: 100%;
	background-image: url('/static/img/menu/background.jpg');
	background-size: 100% 100%;
	user-select: none;
}

.ballwar-game-settings-login{
	height: 41vh;
	width: 20vw;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 6px;
}

.ballwar-game-settings-title{
	color: white;
	font-size: 3vh;
	text-align: center;
	padding-top: 2vh;
	margin-bottom: 2vh;
}

.ballwar-game-settings-username{
	display: block;
	height: 7vh;
}

.ballwar-game-settings-password{
	display: block;
	height: 7vh;
}

.ballwar-game-settings-submit{
	display: block;
	height: 7vh;
}

.ballwar-game-settgins-username-item{
	width: 100%;
	height: 100%;
}

.ballwar-game-settings-username-item > input{
	width: 90%;
	line-height: 3vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ballwar-game-settings-error-message{
	color: red;
	font-size: 0.8vh;
	display: inline;
	float: left;
	padding-left: 1vw;
}

.ballwar-game-settings-option{
	color: white;
	font-size: 2vh;
	display: inline;
	float: right;
	padding-right: 1vw;
	cursor: pointer;
}

.ballwar-game-settings-password-item > input{
	width: 90%;
	line-height: 3vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ballwar-game-settings-submit-item > button{
	color: white;
	width: 90%;
	line-height: 3vh;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #309804;
	border-radius: 10px;
}

.ballwar-game-settings-register{
	height: 49vh;
	width: 20vw;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 6px;
}


